.articles {
  margin-right: 1 rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  padding: 1rem;
  list-style-position: inside;
}
.article {
  padding: 1rem;
  background-color: #a9d1b1;
  border: 1px solid black;
}

.article > div {
  display: inline;
  max-width: 90%;
}
.articles_author {
  font-size: 0.8rem;
  list-style: none;
}
.articles_author a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.articles_author a:hover {
  color: grey;
}
@media (min-width: 40rem) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
