.center {
  text-align: center;
  padding: 10px;
  color: darkblue;
  text-shadow: 2px 2px rgb(151, 122, 179);
  font-family: Arial, Helvetica, sans-serif;
}
.h3 {
  text-decoration: underline;
  text-align: center;
}
body {
  background: url("img/10.png") no-repeat;
  background-size: 100%;
}
.rounded {
  counter-reset: li;
  list-style: none;
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
}
.rounded a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}
.rounded a:hover:before {
  transform: rotate(360deg);
}
.rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: rgb(51, 134, 202);
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "gif mai mai mai"
    " . authors find find"
    ". list . . ";
  grid-gap: 15px;
  padding: 0px;
}
.item1 {
  grid-area: mai;
}
.item2 {
  grid-area: gif;
}
.item3 {
  grid-area: list;
}
.item4 {
  grid-area: find;
  display: flex;
  justify-content: flex-end;
}

.item4 > form {
  display: inline-block;
  height: 25px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
}
.item4 button {
  display: inline-block;
  height: 45px;
  padding: 10px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
}
.item5 {
  grid-area: footer;
  margin-left: 250px;
  color: gray;
}
.item7 {
  grid-area: authors;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.popup {
  display: none;
}
.open {
  display: block !important;
}

.modal {
  position: fixed;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  border-radius: 10px;
  background: rgb(197, 208, 231);
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#pic {
}
